<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>glass.kagerou.piru.smoke</string>
	<key>PiruBundleID</key>
	<string>glass.kagerou.piru</string>
	<key>PiruAppGroup</key>
	<string>group.glass.kagerou.piru</string>
</dict>
</plist>
